<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-categoria-heading" jhiTranslate="managerCareApp.categoria.home.createOrEditLabel">Create or edit a Categoria</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="managerCareApp.categoria.nombre" for="field_nombre" [ngbTooltip]="'managerCareApp.categoria.help.nombre' | translate">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                           formControlName="nombre"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="managerCareApp.categoria.descripcion" for="field_descripcion" [ngbTooltip]="'managerCareApp.categoria.help.descripcion' | translate">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           formControlName="descripcion"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="managerCareApp.categoria.objetivo" for="field_objetivos">Objetivo</label>
                    <select class="form-control" id="field_objetivos" multiple name="objetivos" formControlName="objetivos">
                        <option [ngValue]="getSelected(editForm.get('objetivos')!.value, objetivoOption)" *ngFor="let objetivoOption of objetivos; trackBy: trackById">{{ objetivoOption.nombre }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
