<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userTeams">
            <h2 id="page-heading">
                <span>Miembros Equipo</span>
                {{ userTeams.login }}
            </h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">

                <dt><span jhiTranslate="userManagement.firstName">First Name</span></dt>
                <dd>{{ userTeams.firstName }}</dd>

                <dt><span jhiTranslate="userManagement.lastName">Last Name</span></dt>
                <dd>{{ userTeams.lastName }}</dd>

                <dt><span jhiTranslate="userManagement.email">Email</span></dt>
                <dd>{{ userTeams.email }}</dd>
            </dl>
        </div>
    </div>
</div>
<br>
<div>
    <h3 id="page-heading">
        <span jhiTranslate="managerCareApp.objetivosConseguidos.home.title">Objetivos Conseguidos</span>

        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-objetivos-conseguidos" [routerLink]="['/objetivos-conseguidos/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="managerCareApp.objetivosConseguidos.home.createLabel">
            Create a new Objetivos Conseguidos
            </span>
        </button>
    </h3>

    <div class="alert alert-warning" id="no-result" *ngIf="objetivosConseguidos?.length === 0">
        <span jhiTranslate="managerCareApp.objetivosConseguidos.home.notFound">No objetivosConseguidos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="objetivosConseguidos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="managerCareApp.objetivosConseguidos.estado">Estado</span></th>
                    <th scope="col" ><span jhiTranslate="managerCareApp.objetivosConseguidos.fechaApertura">Fecha Apertura</span></th>
                    <th scope="col" ><span jhiTranslate="managerCareApp.objetivosConseguidos.fechaCierre">Fecha Cierre</span></th>
                    <th scope="col" ><span jhiTranslate="managerCareApp.objetivosConseguidos.user">User</span></th>
                    <th scope="col" ><span jhiTranslate="managerCareApp.objetivosConseguidos.objetivo">Objetivo</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let objetivosConseguidos of objetivosConseguidos">
                    <td><a [routerLink]="['/objetivos-conseguidos', objetivosConseguidos.id, 'view']">{{ objetivosConseguidos.id }}</a></td>
                    <td>{{ objetivosConseguidos.estado }}</td>
                    <td>{{ objetivosConseguidos.fechaApertura | date:'medium' }}</td>
                    <td>{{ objetivosConseguidos.fechaCierre | date:'medium' }}</td>
                    <td>
                        {{ objetivosConseguidos.user?.login }}
                    </td>
                    <td>
                        <div *ngIf="objetivosConseguidos.objetivo">
                            <a [routerLink]="['/objetivo', objetivosConseguidos.objetivo?.id, 'view']" >{{ objetivosConseguidos.objetivo?.nombre }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                    [routerLink]="['/objetivos-conseguidos', objetivosConseguidos.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div>
    <h3 id="page-heading">
        <span jhiTranslate="managerCareApp.puntosConseguidos.home.title">Puntos Conseguidos</span>
    </h3>

    <div class="alert alert-warning" id="no-result" *ngIf="puntosConseguidos?.length === 0">
        <span jhiTranslate="managerCareApp.puntosConseguidos.home.notFound">No puntosConseguidos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="puntosConseguidos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="managerCareApp.puntosConseguidos.puntos">Puntos</span></th>
                    <th scope="col" ><span jhiTranslate="managerCareApp.puntosConseguidos.anyos">Anyos</span></th>
                    <th scope="col" ><span jhiTranslate="managerCareApp.puntosConseguidos.user">User</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let puntosConseguidos of puntosConseguidos">
                    <td><a [routerLink]="['/puntos-conseguidos', puntosConseguidos.id, 'view']">{{ puntosConseguidos.id }}</a></td>
                    <td>{{ puntosConseguidos.puntos }}</td>
                    <td>{{ puntosConseguidos.anyos | date:'medium' }}</td>
                    <td>
                        {{ puntosConseguidos.user?.login }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
        (click)="previousState()"
        class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
    </button>

</div>