<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tipo">
            <h2><span jhiTranslate="managerCareApp.tipo.detail.title">Tipo</span> {{ tipo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="managerCareApp.tipo.nombre" [ngbTooltip]="'managerCareApp.tipo.help.nombre' | translate">Nombre</span></dt>
                <dd>
                    <span>{{ tipo.nombre }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                    [routerLink]="['/tipo', tipo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
