<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="categoriaAsc">
            <h2><span jhiTranslate="managerCareApp.categoriaAsc.detail.title">Categoria Asc</span> {{ categoriaAsc.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="managerCareApp.categoriaAsc.idHijo">Id Hijo</span></dt>
                <dd>
                    <div *ngIf="categoriaAsc.idHijo">
                        <a [routerLink]="['/categoria', categoriaAsc.idHijo?.id, 'view']">{{ categoriaAsc.idHijo?.nombre }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="managerCareApp.categoriaAsc.idPadre">Id Padre</span></dt>
                <dd>
                    <div *ngIf="categoriaAsc.idPadre">
                        <a [routerLink]="['/categoria', categoriaAsc.idPadre?.id, 'view']">{{ categoriaAsc.idPadre?.nombre }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                    [routerLink]="['/categoria-asc', categoriaAsc.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
